<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
        <style>
           h4{text-align:center;}
           h5{text-align:center;}
           div{margin: 20px;}
        </style>
    </head>
    <body>
    
    
        <div class="container" style="background-color: aquamarine; border-style: double; border-radius: 20px;">
    
            <div class="col-md-4">
            <h4>Spell Check - Tianxiang Chen</h4>

            <h5>                
            <a href="/register"><br>Register</a><br>
            <a href="/login"><br>Login</a><br>
            {% if session['username'] %}
            <a href="/spell_check"><br>Spell Check</a><br>
            <a href="/logout"><br>Log out</a>
            {% endif %}
            </h5>

            </div>
  
        </div>

        {% block content %}{% endblock %}
    </body>
</html>
