{% extends "home.html" %}
{% block title %}SpellCheck_Register{% endblock %}
{% block content %}

<div class="container" style="background-color: beige; border-style: double; border-radius: 10px;">


<div class="col-md-4">

    <form action="/register" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input SIZE=24 id="uname" type="text" placeholder="Username" name="uname" value="{{ request.form.uname }}">
        <input SIZE=24 id="pword" type="password" placeholder="Password" name="pword" value="{{ request.form.pword }}">
        <input SIZE=24 id="2fa" type="password" placeholder="Two Factor Authentication" name="2fa" value="{{ request.form.auth }}">
        <button class="registerbutton" type="submit">Register</button>
    </form>

    {% if id %}
    <div class="col-md-4" id="success"> {{ id }} </div>
    {% endif %}


</div>

<div>

{% endblock %}

